*.log
.DS_Store

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/vendor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.zencoder
/.sixth
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/pail

Homestead.json
Homestead.yaml
Thumbs.db
